.intro-page {
    padding: 35px 130px 80px;
    background-color: #74C69D;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 18px;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}

.navbar-options {
    padding: 12px 0px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: right;
}
.navbar-options nav:hover{
    cursor: pointer;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduction-text-box {
    padding: 39px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.introduction-text-greet {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: left;
}

.introduction-text-heading {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    text-wrap: nowrap;
}

.introduction-text-subtext {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    text-wrap: nowrap;
}

.explore-btn {
    width: 170px;
    height: 48px;
    padding: 13px 48px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.explore-btn:hover{
    cursor: pointer;
}