.intro-page {

    background-color: #74C69D;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.introduction {
    padding: 5px 130px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduction-text-box {
    padding: 39px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.introduction-text-greet {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: left;
}

.introduction-text-heading {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    /* text-wrap: nowrap; */
}

.introduction-text-subtext {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    /* text-wrap: nowrap; */
}

.explore-btn {
    width: 170px;
    height: 48px;
    padding: 13px 48px;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.explore-btn:hover {
    cursor: pointer;
}
@media only screen and (max-width : 375px) {
    .intro-page{
        padding: 17px 20px 40px;
    }
    .introduction {
        display: flex;
        flex-direction: column-reverse;
    }

    .introimage {
        width: 300px;
        height: 196.61px;
    }

   
}
