.partners {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 140px;
    align-items: center;
}

.partners-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.partners-heading {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
    color: #74C69D;
}

.partners-text-heading {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.partners-text-subtext {
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.partners-logo {
    display: flex;
    align-items: center;
    gap: 68px;
}

.learn-btn {
    width: 170px;
    height: 48px;
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: #212529;
    border-radius: 5px;
    border: none;
}
.learn-btn:hover{
    cursor: pointer;
}

@media only screen and (max-width:375px) {
    .partners{
        padding: 22px 20px 0px;
    }
    .partners-logo{
        display: flex;
        flex-direction: column;
    }
}